/* --swiper-navigation-size: 44px;
--swiper-theme-color: #007aff;
--vh: 3.41px;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
list-style: none;
font-family: abchanel-corpo,Arial,Helvetica,sans-serif;
font-weight: 600;
letter-spacing: normal;
cursor: pointer;
user-select: none;
color: #1d1d1d;
text-align: left;
text-transform: uppercase;
font-size: .75rem;
box-sizing: border-box;
line-height: 1.125rem; */