@import './colors';

@mixin flexbox {
    $display: flex;
    $justify-content: center;
    $align-items: flex-start;
}


.header {
    position: sticky;
    top: 0;


    nav {
        @include flexbox;

        ul {
            
        }
        li {
            
        }
         a {
            text-decoration: none;
            list-style: none;
        }
    }
}