body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(219, 202, 183);

}

.navbar {
  background-color: rgb(27, 97, 168);
  height: 120px;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  position: relative;
  top: 100px;
}

.carousel-inner {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  left: 500px;

}

img {
  max-width: 100%;
  height: auto;
}


.perfumes-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  /* flex-direction: row; */
}

a:link,
a:visited {
  text-decoration: none;
  color: black
}

.perfumes-card {

  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  padding: 30px;
  text-decoration: none;
}

.perfumes-card>* {
  flex: 1 1 80px;


}

.product-container-inner {
  display: flex;
  position: relative;
  gap: .5em;

  left: 50%;
  top: 50%;
  margin: 100px 0 0 -550px;
}

.right,
.left {
  width: 500px;
  height: 500px;
}